<div class="page-header">
  <h3><%= t(:Edit_research_permit_for) %> <%= @person.first_name %> <%= @person.last_name %></h3>
</div>

<%= form_for @research_permit, url: person_research_permit_path(@person, @research_permit) do |f| %>

<%= render "form", form: f %>

<% end %>
