
<h1>Dashboard</h1>

<div class="col-sm-6">
  <h4>Number of People: <%= link_to @people.size, people_path() %></h4>
  <h4>Number of Languages: <%= link_to @lang.size, languages_path() %></h4>
  <h4>Number of Regions: <%= @region.size %></h4>
</div>
<div class="col-sm-6">
  <h4 class="text-center">Search Person</h4>
  <%= form_tag "/", method: "get" do %>
    <div class="form-group">
      <input type="search" name="key_word" placeholder="Input key word first name" class="form-control" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-large btn-info">Search</button>
    </div>
  <% end %>
  </div>
</div>
<br clear="all" />

<div class="col-sm-12">
  <h4>search results</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <td>Action</td>
      <td>last name</td>
      <td>fist name</td>
      <td>category</td>
      <td>Job</td>
      <td>arrival</td>
      <td>departure</td>
      <td>Nationality</td>
      <td>title</td>
      <td>genter</td>
    </tr>
    <% if @request != nil
          @request.each do |person|
    %>
    <tr>
      <td><%= link_to "View", person_path(person) %></td>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= person.category %></td>
      <td><%= person.job %></td>
      <td><%= person.arrival %></td>
      <td><%= person.departure %></td>
      <td><%= person.nationality %></td>
      <td><%= person.title %></td>
      <td><%= person.gender %></td>
   </tr>
   <% end
      end %>
  </table>
</div>
