
<div class="col-sm-12">
  <div class="page-header">
    <h1><%= t(:Dashboard) %></h1>
  </div>
</div>

<div class="col-sm-5">

  <h3><%= t(:Quick_stats) %></h3>

  <div class="list-group">
    <%= link_to people_path(), class: 'list-group-item' do %>
      <span class="badge"><%= @people.size %></span>
      <%= t(:Number_of_people) %>
    <% end %>
    <%= link_to languages_path(), class: 'list-group-item' do %>
      <span class="badge"><%= @lang.size %></span>
      <%= t(:Number_of_languages) %>
    <% end %>
    <%= link_to '#', class: 'list-group-item' do %>
      <span class="badge"><%= @region.size %></span>
      <%= t(:Number_of_regions) %>
    <% end %>
  </div>
</div>

<div class="col-sm-7">

  <h3><%= t(:Users_requiring_action) %></h3>

  <ul class="list-group">
    <li class="list-group-item">
      <a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
      User 1 needs to have his Research Permit renewed before 04-Jan-18
    </li>
    <li class="list-group-item">
      <a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
      User 2 needs to submit a Quarterly Report
    </li>
    <li class="list-group-item">
      <a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
      User 3 is departing Cameroon soon.
    </li>
    <li class="list-group-item">
      <a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
      User 4 is returning from leave in 16 days.
    </li>
    <li class="list-group-item">
      <a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
      User 5 submitted his Research Permit 24 days ago without it being issued, and is in fact
      a very long message, indeed.
    </li>
    <li class="list-group-item">
      <a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
      User 6 has no languages assigned.
    </li>
    <li class="list-group-item">
      <a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
      User 7 needs to submit a Primary Report
    </li>
    <li class="list-group-item">
      <a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
      User 8 needs to submit a Primary Report
    </li>
    <li class="list-group-item">
      <a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
      User 9 is going on leave in 34 days.
    </li>
  </ul>

</div>

<br clear="all" />

<% if @request != nil %>
<div class="col-sm-12">
  <h4>search results</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <td>Action</td>
      <td>last name</td>
      <td>fist name</td>
      <td>category</td>
      <td>Job</td>
      <td>arrival</td>
      <td>departure</td>
      <td>Nationality</td>
      <td>title</td>
      <td>genter</td>
    </tr>
    <% @request.each do |person| %>
    <tr>
      <td><%= link_to "View", person_path(person) %></td>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= person.category %></td>
      <td><%= person.job %></td>
      <td><%= person.arrival %></td>
      <td><%= person.departure %></td>
      <td><%= person.nationality %></td>
      <td><%= person.title %></td>
      <td><%= person.gender %></td>
   </tr>
   <% end %>
  </table>
</div>
<% end %>
