
<div class="col-sm-12">
  <div class="page-header">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="col-sm-3">

  <h3>Quick Stats</h3>

  <div class="list-group">
    <%= link_to people_path(), class: 'list-group-item' do %>
      <span class="badge"><%= @people.size %></span>
      Number of People:
    <% end %>
    <%= link_to languages_path(), class: 'list-group-item' do %>
      <span class="badge"><%= @lang.size %></span>
      Number of Languages:
    <% end %>
    <%= link_to '#', class: 'list-group-item' do %>
      <span class="badge"><%= @region.size %></span>
      Number of Regions:
    <% end %>
  </div>
</div>

<div class="col-sm-1"></div>

<div class="col-sm-6">

  <h3>Users Requiring Action</h3>

  <ul class="list-group">
    <button type="button" class="list-group-item">User 1</button>
    <button type="button" class="list-group-item">User 1</button>
    <button type="button" class="list-group-item">User 1</button>
    <button type="button" class="list-group-item">User 1</button>
    <button type="button" class="list-group-item">User 1</button>
    <button type="button" class="list-group-item">User 1</button>
    <button type="button" class="list-group-item">User 1</button>
    <button type="button" class="list-group-item">User 1</button>
    <button type="button" class="list-group-item">User 1</button>
  </ul>

</div>

<br clear="all" />

<% if @request != nil %>
<div class="col-sm-12">
  <h4>search results</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <td>Action</td>
      <td>last name</td>
      <td>fist name</td>
      <td>category</td>
      <td>Job</td>
      <td>arrival</td>
      <td>departure</td>
      <td>Nationality</td>
      <td>title</td>
      <td>genter</td>
    </tr>
    <% @request.each do |person| %>
    <tr>
      <td><%= link_to "View", person_path(person) %></td>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= person.category %></td>
      <td><%= person.job %></td>
      <td><%= person.arrival %></td>
      <td><%= person.departure %></td>
      <td><%= person.nationality %></td>
      <td><%= person.title %></td>
      <td><%= person.gender %></td>
   </tr>
   <% end %>
  </table>
</div>
<% end %>
