<nav class="navbar navbar-inner navbar-fixed-top">
  <ul class="nav navbar-nav">
     <li><a href="/" title="home"><%= image_tag("home.png", :alt=>"home") %> Home </a></li>
     <li><a href="/people" title="see people list"> <%= image_tag("people.png", :alt=>"home") %> People </a></li>
     <li><a href="/languages" title="see languages list"> <%= image_tag("lang.png", :alt=>"home") %> Languages</a></li>
     <li><a href="/add_person" title="new person"><%= image_tag("user.png", :alt=>"home") %> Add Person</a></li>
     <li><a href="/add_language" title="new lang"> <%= image_tag("lang.png", :alt=>"home") %> Add Language</a></li>
     <li><a href="/" title="search"><%= image_tag("search.png", :alt=>"home") %> Search</a></li>
  </ul>
</nav><br/><br/><br/>
<h3 class="page-header text-info text-center">New language <br/><%= image_tag("lang.png", :alt=>"home") %></h3>
<div class="row-fluid">
  <div class="span6 offset4">
    <%= form_tag "/add_language" , method: "post" do %>
      <input type="text" name="name"  placeholder="name language" required/>
      <select name="region" required>
          <option value="">Region</option>
           <% @regions.each do |region| %>
           <option value="<%= region.id %>"> <%= region.name %> </option>  
           <% end %>
        </select>
      <button type="submit" class="btn btn-success">Add</button>
<% end %>
  </div>
</div>
 
