<h1 class="page-header text-info">people</h1>

<div class="row-fluid">
    <h3 class="page-header text-info">New Person</h3>
    <%= form_tag "/people", method: "post" do%>
      <div class="span3 offset1">
        <legend>Infos Person</legend>
        <input type="text" name="last_name" placeholder="Last name" required/><br/>
        <input type="text" name="first_name" placeholder="Lirst name" required/><br/>
        <input type="text" name="nationality" placeholder="Nationality" required/><br/>
        <input type="text" name="title" placeholder="Title" required/><br/>
        Gender: Women <input type="radio" name="gender" value="F"/> 
                Boy:<input type="radio" name="gender" value="M" />
      </div>

       <div class="span3">
        <legend>Job Caracteristics</legend>
        <input type="text" name="category" placeholder="Category" required/><br/>
        <input type="text" name="job" placeholder="Job" required/><br/>
        <input type="date" name="arrival" placeholder="Date arrival" required/><br/>
        <input type="date" name="departure" placeholder="Date departure" required/><br/>
        <select name="language" required>
          <option value="">Language</option>
           <% @languages.each do |language| %>
           <option value="<%= language.id %>"> <%= language.name %> </option>  
           <% end %>
        </select>
      </div>

       <div class="span3">
        <legend>validation</legend>
        <button type="submit" class="btn btn-success"> Add Person</button>
        <button type="reset" class="btn btn-danger"> Reset Form</button>
      </div>
    <% end %>
</div>
 <h2 class="page-header"></h2>
 <div class="row-fluid">
  <div class="span11" style="margin-left: 30px;">
    <h3 class="page-header text-info">Person list</h3>
    <table class="table table-bordered table-striped">
       <tr>
         <td>id_person</td>
         <td>last name</td>
         <td>fist name</td>
         <td>category</td>
         <td>Job</td>
         <td>arrival</td>
         <td>departure</td>
         <td>Nationality</td>
         <td>title</td>
         <td>genter</td>
         <td>id_language</td>
       </tr>
       <% @people.each do |person| %>
       <tr>
          <td><%= person.id %></td>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td><%= person.category %></td>
          <td><%= person.job %></td>
          <td><%= person.arrival %></td>
          <td><%= person.departure %></td>
          <td><%= person.nationality %></td>
          <td><%= person.title %></td>
          <td><%= person.gender %></td>
          <td><%= person.language_id %></td>
        </tr>
       <% end %>
  </table>
  </div>
</div>