
<nav class="navbar navbar-inner navbar-fixed-top">
  <ul class="nav navbar-nav">
     <li><a href="/" title="home"><%= image_tag("home.png", :alt=>"home") %> Home </a></li>
     <li><a href="/people" title="see people list"> <%= image_tag("people.png", :alt=>"home") %> People </a></li>
     <li><a href="/languages" title="see languages list"> <%= image_tag("lang.png", :alt=>"home") %> Languages</a></li>
     <li><a href="/add_person" title="new person"><%= image_tag("user.png", :alt=>"home") %> Add Person</a></li>
     <li><a href="/add_language" title="new lang"> <%= image_tag("lang.png", :alt=>"home") %> Add Language</a></li>
     <li><a href="/" title="search"><%= image_tag("search.png", :alt=>"home") %> Search</a></li>
  </ul>
</nav>
<br/><br/><br/>
 <div class="row-fluid">
  <div class="span11" style="margin-left: 30px;">
    <h1 class="text-center"><%= image_tag("people.png", :alt=>"people") %></h1>
    <h3 class="page-header text-info text-center">Person list <button class="btn"> <%= image_tag("print.png", :alt=>"print") %> Print list</button></h3>
    <table class="table table-bordered table-striped">
       <tr>
         <td>id_person</td>
         <td>last name</td>
         <td>fist name</td>
         <td>category</td>
         <td>Job</td>
         <td>arrival</td>
         <td>departure</td>
         <td>Nationality</td>
         <td>title</td>
         <td>genter</td>
         <td>language</td>
       </tr>
       <% @people.each do |person| %>
       <tr>
          <td><%= person.id %></td>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td><%= person.category %></td>
          <td><%= person.job %></td>
          <td><%= person.arrival %></td>
          <td><%= person.departure %></td>
          <td><%= person.nationality %></td>
          <td><%= person.title %></td>
          <td><%= person.gender %></td>
          <td><%= Language.find(person.language_id).name %></td>
        </tr>
       <% end %>
  </table>
  </div>
</div>