<div class="container">

  <div class="page-header">
    <h3><%= t(:Person_list) %></h3>
  </div>

  <table class="table table-striped">
    <tr>
      <th><%= t(:Name) %></th>
      <th><%= t(:Nationality) %></th>
      <th><%= t(:Research_permit_expiry) %></th>
      <th><%= t(:Next_leave) %></th>
    </tr>
    <% @people.each do |person| %>
    <tr>
      <td><%= link_to "#{person.first_name} #{person.last_name}", person %></td>
      <td><%= person.nationality&.nationality %></td>
      <td><%= person.next_permit_expiration || t(:None_m) %></td>
      <td><%= person.next_leave_start_date || t(:None_m) %></td>
    </tr>
  <% end %>
  </table>

</div>
