<div class="container">

  <div class="page-header">
    <h3>Person list</h3>
  </div>

  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>category</th>
      <th>Job</th>
      <th>Arrival</th>
      <th>Departure</th>
      <th>Nationality</th>
      <th>Title</th>
      <th>Gender</th>
    </tr>
    <% @people.each do |person| %>
    <tr>
      <td><%= person.id %>
      <td><%= link_to person.first_name, person %></td>
      <td><%= person.last_name %></td>
      <td><%= person.category %></td>
      <td><%= person.job %></td>
      <td><%= person.arrival %></td>
      <td><%= person.departure %></td>
      <td><%= person.nationality %></td>
      <td><%= person.title %></td>
      <td><%= person.gender %></td>
    </tr>
  <% end %>
  </table>

</div>
