
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h2 id="person-name">
        <%= @person.first_name %> <%= @person.last_name %>
        <small>Researcher</small>
      </h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="page-header">
      <h4><%= t(:Personal_details) %></h4>
    </div>

    <table class="table table-striped">
      <tr>
        <th><%= t(:Category) %>:</th>
        <td><%= @person.category %></td>
      </tr>
      <tr>
        <th><%= t(:Job) %>:</th>
        <td><%= @person.job %></td>
      </tr>
      <tr>
        <th><%= t(:Title) %>:</th>
        <td><%= @person.title&.title %></td>
      </tr>
      <tr>
        <th><%= t(:Nationality) %>:</th>
        <td><%= @person.nationality&.nationality %></td>
      </tr>
      <tr>
        <th><%= t(:Gender) %>:</th>
        <td><%= @person.gender %></td>
      </tr>
      <tr>
        <th><%= t(:Arrival) %>:</th>
        <td><%= @person.arrival %></td>
      </tr>
      <tr>
        <th><%= t(:Departure) %>:</th>
        <td><%= @person.departure %></td>
      </tr>
      <tr>
        <th><%= t(:Future_activities) %>:</th>
        <td><%= @person.future_activities %></td>
      </tr>
      <tr>
        <th><%= t(:Request_period) %>:</th>
        <td><%= @person.request_period %></td>
      </tr>
      <tr>
        <td colspan="2">
        <%= link_to(t(:Edit), edit_person_path(@person), { class: "btn btn-primary" }) %>
        <%= link_to(t(:Delete), person_path(@person), method: 'delete', data: { confirm: t(:Are_you_sure) }, class: 'text-danger' )  %>
        </td>
      </tr>
    </table>

  </div>

  <div class="col-sm-7 col-sm-offset-1">

    <div class="page-header">
      <h4><%= t(:Print_documents) %></h4>
    </div>

    <a href="#">Select this user for printing.</a><br />
    <%= link_to "Print a MINREST letter or formulaire.", person_documents_path(@person) %><br />

    <div class="page-header">
      <h4><%= t(:Other_details) %></h4>
    </div>

    <ul class="nav nav-tabs periodic-documents">
      <li class="active" role="presentation">
        <a href="#research-permits" data-toggle="tab"><%= t(:Research_permits) %></a>
      </li>
      <li role="presentation">
        <a href="#primary-reports" data-toggle="tab"><%= t(:Primary_reports) %></a>
      </li>
      <li role="presentation">
        <a href="#quarterly-reports" data-toggle="tab"><%= t(:Quarterly_reports) %></a>
      </li>
      <li role="presentation">
        <a href="#languages" data-toggle="tab"><%= t(:Languages) %></a>
      </li>
      <li role="presentation">
        <a href="#leaves" data-toggle="tab"><%= t(:Leaves) %></a>
      </li>
    </ul>

    <div class="tab-content clearfix">
      <div class="tab-pane active" id="research-permits">

        <div class="tab-body">
          <%= t(:List_of_all_research_permits) %><br />
          <%= link_to t(:Add_research_permit), new_person_research_permit_path(@person), { class: "btn btn-primary" } %><br />
        </div>

        <table class="table table-striped">
        <tr>
          <th><%= t(:Number) %></th>
          <th><%= t(:Issue_date) %></th>
          <th><%= t(:Expiry_date) %></th>
          <th></th>
        </tr>
        <% @person.research_permits.each do |rp| %>
        <tr>
          <td><%= rp.identifier.blank? ? t(:None_yet) : rp.identifier %></td>
          <td><%= rp.issue_date.nil? ? "#{t(:Submitted)} #{rp.submission_date}" : rp.issue_date %></td>
          <td><%= rp.expiry_date.nil? ? t(:None_yet) : rp.expiry_date %></td>
          <td>
            <%= link_to t(:Edit), edit_person_research_permit_path(@person, rp), { class: 'btn btn-info' } %>
            <%= link_to t(:Delete), person_research_permit_path(@person, rp), method: :delete, data: { confirm: t(:Are_you_sure) }, class: 'text-danger' %>
          </td>
        </tr>
        <% end %>
        </table>


      </div>
      <div class="tab-pane" id="primary-reports">
        <%= link_to "Add Primary Report", { class: "btn btn-primary" } %><br />
      </div>
      <div class="tab-pane" id="quarterly-reports">
        <%= link_to "Add Quarterly Report", { class: "btn btn-primary" } %><br />
      </div>

      <div class="tab-pane" id="languages">
        <div class="tab-body">
          <%= t(:Language_involvement) %><br />
          <br />
          <% @person.involvements.each do |inv| %>
            <%= inv.language.name %> (<em><%= InvolvementLevel.id(inv.level).name %></em>)<br />
          <% end %>
          <br />

          <%= t(:Add_a_new_involved_language) %>:<br />
          <%= form_for @person, url: attach_language_url(@person), method: :post, html: { class: 'form-inline' } do |f| %>

          <div class="form-group-inline">
            <%= collection_select(:person, :involvement_ids, @levels, :id, :name, { prompt: true }, { class: 'form-control' }) %>
            <%= collection_select(:person, :language_ids, @languages, :id, :name, { prompt: true }, {class: 'form-control' }) %>
            <%= f.submit t(:Add), { class: 'btn btn-primary' } %>
          </div>
          <% end %>
        </div>
      </div>

      <div class="tab-pane" id="leaves">
        <div class="tab-body">
          <%= link_to t(:Add_leave), new_person_leave_path(@person), { class: "btn btn-primary" } %><br /><br />

          <% if @leaves.keys.size == 0 %>
            No Leaves.
          <% else %>
            <% @leaves.keys.each do |leave_type| %>

              <h4><%= t(leave_type.to_s) %><h4>

              <% @leaves[leave_type].each do |lv| %>

              <div class="bg-info">
              From: <%= lv.start_date %> to: <%= lv.end_date %><br />
              Reasons:
              <ul>
              <% lv.leave_reasons.each do |reason| %>
                <li><%= reason.reason %></li>
              <% end %>
              </ul>

              <%= link_to t(:Delete), person_leave_url(@person, lv), method: :delete, data: { confirm: t(:Are_you_sure) }, class: 'btn btn-danger' %>
              </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>


