<p id="notice"><%= notice %></p>

<h1>Directors</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Current</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @directors.each do |director| %>
      <tr>
        <td><%= director.name %></td>
        <td><%= director.title %></td>
        <td><%= director.current %></td>
        <td><%= link_to 'Edit', edit_director_path(director) %></td>
        <td><%= link_to 'Destroy', director, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Director', new_director_path, class: 'btn btn-primary' %>
