<p id="notice"><%= notice %></p>

<div class="page-header">
  <h3><%= t(:Directors) %></h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:Name) %></th>
      <th><%= t(:Title) %></th>
      <th><%= t(:Current) %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @directors.each do |director| %>
      <tr>
        <td><%= director.name %></td>
        <td><%= director.title %></td>
        <td><%= director.current %></td>
        <td><%= link_to t(:Edit), edit_director_path(director) %></td>
        <td><%= link_to t(:Destroy), director, method: :delete, data: { confirm: t(:Are_you_sure) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to t(:New_director), new_director_path, class: 'btn btn-primary' %>
