
  <div class="page-header">
    <h3><%= t(:Languages_list) %></h3>
  </div>

  <table class="table table-striped">
    <tr>
      <th><%= t(:Language) %></th>
      <th><%= t(:Department) %></th>
    </tr>

    <% @languages.each do |language| %>
    <tr>
       <td><%= link_to language.name, edit_language_url(language) %></td>
       <td>
        <% language.departments.each do |d| %>
          <%= d.name %>
        <% end %>
       </td>
    </tr>
    <% end %>
  </table>
