
  <div class="page-header">
    <h3><%= t(:Languages_list) %></h3>
  </div>

  <table class="table table-striped">
    <tr>
      <th><%= t(:Language) %></th>
      <th><%= t(:Region) %></th>
    </tr>

    <% @languages.each do |language| %>
    <tr>
       <td><%= language.name %></td>
       <td><%= language.region.en %></td>
    </tr>
    <% end %>
  </table>
