<nav class="navbar navbar-inner navbar-fixed-top">
  <ul class="nav navbar-nav">
     <li><%= link_to "Home", root_path() %></li>
     <li><a href="#">|</a></li>
     <li><%= link_to "People", people_path() %></li>
     <li><%= link_to "(Add)", new_person_path() %></li>
     <li><a href="#">|</a></li>
     <li><%= link_to "Languages", languages_path() %></li>
     <li><%= link_to "(Add)", new_language_path() %></li>
     <li><a href="#">|</a></li>
     <li><%= link_to "Leave Reasons", leave_reasons_path() %></li>
     <li><%= link_to "(Add)", new_leave_reason_path() %></li>
  </ul>
</nav><br/><br/><br/>
