
<% if alert %>
  <p id="document-error" class="bg-danger"><%= alert %></p>
<% end %>

<% if request.referer.nil? %>
  <%= link_to "<< Return", people_path() %>
<% else %>
  <%= link_to "<< Return", request.referer %>
<% end %>

<div class="page-header">
  <h3>Print a letter or formulaire</h3>
</div>

<p>
Preview a Checklist of Data for printing
</p>

<p>
Preview Member Notification of Permit Issue
</p>

<p>
  <%= link_to "Preview Premiere Demande Letter", person_first_request_doc_path(@person) %>
</p>

<p>
  <%= link_to "Preview Renouvellement Letter", person_renew_permit_doc_path(@person) %>
</p>

<p>
Preview RESEARCH PERMIT letter
</p>

<p>
 EDIT HEADING button
</p>

<p>
  <%= link_to "Preview Rapport Primaire Letter + or - Future Activities", person_primary_report_doc_path(@person) %>
</p>
