<p id="notice"><%= notice %></p>

<div class="page-header">
  <h3><%= t(:Titles) %></h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:Title) %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @titles.each do |title| %>
      <tr>
        <td><%= title.title %></td>
        <td><%= link_to t(:Edit), edit_title_path(title) %></td>
        <td><%= link_to t(:Destroy), title, method: :delete, data: { confirm: t(:Are_you_sure) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:New_title), new_title_path, class: 'btn btn-primary' %>
