<p id="notice"><%= notice %></p>

<div class="page-header">
  <h3><%= t(:Nationalities) %></h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:Nationality) %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @nationalities.each do |nationality| %>
      <tr>
        <td><%= nationality.nationality %></td>
        <td><%= link_to t(:Edit), edit_nationality_path(nationality) %></td>
        <td><%= link_to t(:Destroy), nationality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:New_nationality), new_nationality_path, class: 'btn btn-primary' %>
